<!DOCTYPE html>
<html>
<head>
  <title>login page</title>
</head>
<body>

<h1>New session</h1>

<% if @errors.nil? %>

<p > To connect, please enter your login and your password : </p>

<% else %>
<p>
<%= @errors %>
</p>
<% end %>


<form action="/<%= @appli %>/sessions" method="post">
  <div class="field">
    <label for="session_login">Login</label><br />
    <input id="session_login" name="login" size="30" type="text" value="<%= if @u; @u.login end %>"/>
  </div>
  <div class="field">
    <label for="session_password">Password</label><br />
    <input id="session_password" name="password" size="30" type="password" value="<%= if @u; @u.password end %>"/>
  </div>
  <div class="field">
    <input id="session_back_url" name="back_url" size="50" type="hidden" value="<%= @back_url %>">
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Session" />
  </div>
</form>

If you are not registered, please 
<a href="/users/new">register</a>
<br />

</body>
</html>

