<!DOCTYPE html>
<html>
<head>
  <title>User Registration Page</title>
</head>
<body>

<h1>New user</h1>

<form action="/users" method="post">
  <div class="field">
    <label for="user_login">Login (*)</label><br />
    <input id="user_login" name="login" size="30" type="text" value="<%= if user; user.login end %>"/>
  </div>
  <div class="field">
    <label for="user_password">Password (*)</label><br />
    <input id="user_password" name="password" size="30" type="password" value="<%= if user; user.password end %>"/>
  </div>
  <div class="field">
    <label for="user_last_name">Last Name</label><br />
    <input id="user_last_name" name="last_name" size="30" type="text" value="<%= if user; user.last_name end %>"/>
  </div>
  <div class="field">
    <label for="user_first_name">First Name</label><br />
    <input id="user_first_name" name="first_name" size="30" type="text" value="<%= if user; user.first_name end %>"/>
  </div>
  <div class="field">
    <label for="user_city">City</label><br />
    <input id="user_login" name="city" size="30" type="text" value="<%= if user; user.city end %>"/>
  </div>
 <div class="field">
    <label for="user_email">Email</label><br />
    <input id="user_email" name="email" size="30" type="text" value="<%= if user; user.email end %>"/>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create user" />

  </div>
</form>

</body>
</html>

