<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
</head>
<body>

<h1>New user</h1>

<form action="/users" method="post">
  <div class="field">
    <label for="session_login">Login (*)</label><br />

    <input id="session_login" name="login" size="30" type="text" value="<%= if user; user.login end %>"/>
  </div>
  <div class="field">
    <label for="session_password">Password (*)</label><br />
    <input id="session_password" name="password" size="30" type="password" value="<%= if user; user.password end %>"/>
  </div>
  <div class="field">
    <label for="session_last_name">Last Name</label><br />
    <input id="session_last_name" name="last_name" size="30" type="text" value="<%= if user; user.last_name end %>"/>
  </div>
  <div class="field">
    <label for="session_first_name">First Name</label><br />
    <input id="session_first_name" name="first_name" size="30" type="text" value="<%= if user; user.first_name end %>"/>
  </div>
  <div class="field">
    <label for="session_city">City</label><br />
    <input id="session_login" name="city" size="30" type="text" value="<%= if user; user.city end %>"/>
  </div>
 <div class="field">
    <label for="session_email">Email</label><br />
    <input id="session_email" name="email" size="30" type="text" value="<%= if user; user.email end %>"/>
  </div>
  <div class="field">
    <input type="hidden" name="origine">
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create user" />

  </div>
</form>

</body>
</html>

