<!DOCTYPE html>
<html>
<head>
  <title>User Registration Page</title>
</head>
<body>

<h1>New user</h1>

<% if @errors.nil? %>

<p > To subscribe, please write a login and a password : </p>

<% else %>
<p>
	<% if @errors[:password] %>
	 Password can't be blank !
	 <br />
	<% end %>
	<% if @errors[:login] %>
  	<% if @errors[:login].include?("can't be blank") %>
			Login can't be blank !
  	<% end %>
		<% if @errors[:login].include?("has already been taken") %>
		Login
		<%= @u.login %>
		has already been taken
		<% end %>
	<% end %>
</p>
<% end %>

<br />
<form action="/users" method="post">
  <div class="field">
    <label for="user_login">Login (*)</label><br />
    <input id="user_login" name="login" size="30" type="text" value="<%= if @u; @u.login end %>"/>
  </div>
  <div class="field">
    <label for="user_password">Password (*)</label><br />
    <input id="user_password" name="password" size="30" type="password" value="<%= if @u; @u.password end %>"/>
  </div>
  <div class="field">
    <label for="user_last_name">Last Name</label><br />
    <input id="user_last_name" name="last_name" size="30" type="text" value="<%= if @u; @u.last_name end %>"/>
  </div>
  <div class="field">
    <label for="user_first_name">First Name</label><br />
    <input id="user_first_name" name="first_name" size="30" type="text" value="<%= if @u; @u.first_name end %>"/>
  </div>
  <div class="field">
    <label for="user_city">City</label><br />
    <input id="user_login" name="city" size="30" type="text" value="<%= if @u; @u.city end %>"/>
  </div>
 <div class="field">
    <label for="user_email">Email</label><br />
    <input id="user_email" name="email" size="30" type="text" value="<%= if @u; @u.email end %>"/>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create user" />

  </div>
</form>
<br />
<br />
(*) Mandatory fields

</body>
</html>

